<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwConfigExceptions="true">
	<targets async="true">
		<target
			name="logfile"
			xsi:type="File"
			header="|Level|DateTime|Version|Class|Message|"
			layout="|${pad:padding=-5:inner=${level:uppercase=true}}|${date:format=yyyy-MM-dd HH\:mm\:ss,fff}|${var:appVersion}|${logger}|${message} ${onexception:${exception:format=tostring}|"
			fileName="${var:baseDir}/logs/${appdomain:format={1\}}-${replace:searchFor=(\\.[\\w]+)+:replaceWith=:regex=true:inner=${logger}}.log" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" maxLevel="Error" writeTo="logfile" />
	</rules>
</nlog>